.login-box {
    padding: 30px;
    background-color: #c1b1d033;
    border-radius: 7px;
}

.auth-form {
    background-image: url('/assets/images/custome/loginbgs.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    overflow: hidden; /* Prevents the overlay from spilling out */
}

.auth-form::before {
    content: '';
    position: absolute; /* Position the overlay relative to the parent */
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
    z-index: 1; /* Ensures the overlay stays above the background image */
}

/* Ensure content within the div is above the overlay */
.auth-form > * {
    position: relative;
    z-index: 2;
}

.pd-0 {
    padding: 0px !important;
}