.sdbr-sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* Hidden by default */
    width: 350px;
    height: 100%;
    background-color: #f7f8f9;
    transition: right 0.4s ease;
    overflow: auto;
    padding: 20px;
    z-index: 99999;
    box-shadow: -1px 1px 5px #00000036;
}

.sdbr-sidebar.open {
  right: 0;
}


.sdbr-sidebar-2x {
  position: fixed;
  top: 0;
  right: -600px; /* Hidden by default */
  width: 550px;
  height: 100%;
  background-color: #f7f8f9;
  transition: right 0.4s ease;
  overflow: auto;
  padding: 20px;
  z-index: 99999;
  box-shadow: -1px 1px 5px #00000036;
}

.sdbr-sidebar-2x.open {
right: 0;
}

.sdbr-sidebar h2 {
  margin-top: 50px;
  font-size: 24px;
}

.sdbr-sidebar-2x h2 {
  font-size: 24px;
  margin-top: 5px;
}

.sdbr-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: #250d3d;
    font-weight: 700;
    cursor: pointer;
}



.sdbr-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 33%);
    z-index: 9999;
    display: none; /* Hidden by default */
}

.sdbr-overlay.show {
  display: block;
}


.sdbr-sidebar-3x {
  position: fixed;
  top: 0;
  right: -750px;
  width: 700px;
  height: 100%;
  background-color: #f7f8f9;
  transition: right 0.4s ease;
  overflow: auto;
  padding: 20px;
  z-index: 99999;
  box-shadow: -1px 1px 5px #00000036;
}

.sdbr-sidebar-3x.open {
  right: 0;
}

.sdbr-sidebar-3x h2 {
  font-size: 24px;
  margin-top: 5px;
}